{% extends 'base.html' %}

{% block content %}

<div class="container details">
    <h1>{{idea.titre}}</h1>
    <p id="user">Une idée de : {{idea.user.username}}</p>
    <p>Le : {{idea.date|date:"d/m/Y"}}</p>
    <p id="description">{{idea.description}}</p>
    
</div>
<div id="boutons">
    <span>
        <a href="{% url 'like' idea.id %}"><button type="button" class="btn {% if user_liked %}btn-success{% else %}btn-outline-primary{% endif %} me-2">👍</button></a> {{idea.likes}}
    </span>

    <span>
        <a href="{% url 'dislike' idea.id %}">
        <button type="button" class="btn {% if user_disliked %}btn-danger{% else %}btn-outline-primary{% endif %} me-2">👎</button></a>
        {{idea.dislikes}}
    </span>
</div>


<a class="lien-simple" href="{% url 'idea-list' %}">← Retour à la boîte à idées</a>


{% endblock content %}