{% extends 'base.html' %}

{% block content %}


<h1>Soumettre une idée</h1>
<div class="container create-idea">

    <form method="POST">
        {% csrf_token %}
        
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{form.titre.errors}}
            <p><label for="{{form.titre.id_for_label}}">Titre : </label></p>
            <p>{{form.titre}}</p>
        </div>
        <div class="fieldWrapper">
            {{form.description.errors}}
            <p><label for="{{form.description.id_for_label}}">Description :</label></p>
            <p>{{form.description}}</p>
        </div>

        <button type="submit" class="btn btn-primary">Soumettre</button>
    </form>
</div>

{% endblock content %}